@import '../../reset';
@import '../../variable';
@import '../../responsive';
@import '../../common';

.index {
  @include mq(md) {
    // width: 100%;
    // position: absolute;
    // bottom: 50px;
    overflow-y: scroll;
  }
}

.menu-desc {
  display: none;
  width: 100%;
  font-weight: bold;
  color: #fff;
  text-align: center;

  @include mq(lg) {
    display: block;
  }
}

.links-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 330px;
  padding-top: $space_m;
  padding-bottom: $space_m;
  padding-left: $space_3l;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;

  @include mq(lg) {
    position: static;
    width: 100%;
    height: auto;
    padding: $space_l;
    margin-bottom: $space_l;
  }

  &-main {
    width: 420px;

    @include mq(lg) {
      margin: 0 auto;
    }
  }

  &-banner {
    margin-top: $space_m;
    margin-bottom: $space_m;
    overflow: hidden;
    border-radius: 3px;

    img {
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }

    img:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);

      @include mq(lg) {
        transform: none;
      }
    }
  }

  &-tab {
    position: relative;
    top: 35px;
    width: 30px;
    height: 228px;
    overflow: hidden;
    background: url('../../images/app/links_tab.png') left bottom no-repeat;

    @include mq(lg) {
      display: none;
    }

    a {
      display: block;
      height: 228px;
    }
  }
}

.news-content {
  position: absolute;
  right: 0;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 500px;
  height: 400px;

  @include mq(lg) {
    position: static;
    width: 100%;
    height: 120px;
  }

  &-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: flex-end;
    padding-right: $space_xxl;
    text-align: right;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: end;
    -ms-flex-align: end;

    @include mq(lg) {
      display: none;
    }

    .news-banner {
      width: 253px;
      margin-bottom: $space_m;
      overflow: hidden;
      border-radius: 3px;

      img:hover {
        -webkit-animation: newsbanneranimate 0.7s;
        animation: newsBannerAnimate 0.7s;

        @include mq(lg) {
          animation: none;
        }
      }
    }
  }

  &-sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 120px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3px;

    .news-tab {
      width: 30px;
      overflow: hidden;
      background: url('../../images/app/news_tab.png') left top no-repeat;

      @include mq(lg) {
        display: none;
      }

      a {
        display: block;
        height: 120px;
      }
    }

    .news-update {
      width: 470px;
      padding-right: $space_xl;
      padding-left: $space_xl;
      overflow-y: scroll;

      @include mq(lg) {
        padding-right: $space_l;
        padding-left: $space_l;
      }
    }
  }
}

@-webkit-keyframes newsBannerAnimate {
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes newsBannerAnimate {
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.bottom-logo {
  position: absolute;
  bottom: 100px;
  left: 25px;
  font-family: $font-family_logo;
  font-size: 7rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 20px rgba(244, 244, 244, 0.4), 0 0 50px rgba(0, 0, 0, 0.8);

  @include mq(lg) {
    display: none;
  }
}
