@import '../../reset';
@import '../../variable';
@import '../../responsive';
@import '../../common';

.index {
  @include mq(md) {
    // width: 100%;
    // position: absolute;
    // bottom: 50px;
    overflow-y: scroll;
  }
}

.menu-desc {
  display: none;
  width: 100%;
  font-weight: bold;
  color: #fff;
  text-align: center;

  @include mq(lg) {
    display: block;
  }
}

.bottom-logo {
  position: absolute;
  bottom: 100px;
  left: 25px;
  font-family: $font-family_logo;
  font-size: 7rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 20px rgba(244, 244, 244, 0.4), 0 0 50px rgba(0, 0, 0, 0.8);

  @include mq(lg) {
    display: none;
  }
}
