@import '../../reset';
@import '../../variable';
@import '../../responsive';
@import '../../common';

.main-article {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow-y: auto;
}

// Page-title Area
.main-title {
  height: 5rem;
  line-height: 5rem;
  color: #000;
  background-color: rgba(255, 255, 255, 0.6);
}

// Page-title
.title-wrap {
  max-width: 1200px;
  margin: 0 auto;

  @include mq(md) {
    padding-left: $space_m;
  }
}

// Content Area
.contents {
  overflow-y: auto;
  color: #333;
  background-color: rgba(255, 255, 255, 0.9);
}

// Wrapper
.wrap {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.wrap-1col {
  @include mq(md) {
    padding-right: $space_m;
    padding-left: $space_m;
  }
}

// Main Column
.main-col {
  position: relative;
  display: flex;
  height: 100%;
  overflow-y: auto;
}

// Left Column
.left-col {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 25%;
  padding: $space_m;
  overflow-y: auto;
  background-color: white;

  @include mq(md) {
    position: fixed;
    top: initial;
    z-index: 2;
    width: 70vw;
    transition: all 0.3s;
    transform: translateX(-100vw);
  }

  .current {
    color: red;
  }

  &.active {
    @include mq(md) {
      transform: translateX(0);
    }
  }
}

// Left Column for responsive back
.left-col-back {
  &.active {
    @include mq(md) {
      position: fixed;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
  }
}

// Right Column
.right-col {
  width: 75%;
  padding-right: $space_m;
  padding-bottom: $space_m;
  padding-left: $space_m;

  @include mq(md) {
    width: 100%;
  }
  // iframe for Google Spread Sheet
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.ore-calc-input {
  width: 100%;
}

.ore-calc-result {
  height: 350px;
  overflow-y: auto;
}
