@import '../../reset';
@import '../../variable';
@import '../../responsive';
@import '../../common';

.header {
  padding-right: $space_m;
  padding-left: $space_m;
  //margin-bottom: $space_s;

  .main-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &-logo img {
    height: 20px;
  }

  .picture-main-logo {
    @include mq(lg) {
      display: none;
    }
  }

  .letter-main-logo {
    display: none;
    font-family: $font-family_logo;
    font-size: 3.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 20px rgba(244, 244, 244, 0.4), 0 0 50px rgba(0, 0, 0, 0.8);

    @include mq(lg) {
      display: block;
    }
  }

  .responsive-menu-back {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);

    &.active {
      display: block;
    }
  }

  .global-nav {
    @include mq(md) {
      position: fixed;
      top: 0;
      right: -100vw;
      z-index: 4;
      width: 80vw;
      height: 100vh;
      overflow-y: auto;
      background: rgba(0, 0, 0, 0.8);
      transition: all 0.3s;
    }

    &.active {
      @include mq(md) {
        transform: translateX(-100vw);
      }
    }

    .close-global-nav {
      display: none;
      padding: $space_m;
      font-size: 3rem;
      color: #fff;
      text-align: center;

      @include mq(md) {
        display: block;
      }
    }

    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      @include mq(md) {
        // padding-top: 50px;
      }

      li {
        flex-grow: 1;
        line-height: 3;
        color: #fff;
        text-align: center;
        opacity: 0.6;
        -webkit-box-flex: 1;

        @include mq(md) {
          opacity: 0.8;
        }

        @include mq(md) {
          width: 100%;
        }

        &.current,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.btn {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include mq(md) {
    overflow: auto;
  }

  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform-origin: 0 50% -30px;
    transform-origin: 0 50% -30px;

    @include mq(md) {
      // position: auto;  // TODO: なにこれ？
    }
  }

  span:nth-child(1) {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  span:nth-child(2) {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);

    @include mq(lg) {
      display: none;
    }
  }

  &:hover span:nth-child(1) {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);

    @include mq(lg) {
      transform: none;
    }
  }

  &:hover span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
